{% extends 'layout.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
{#    <a href="{{ url_for('photos.user_photos') }}"><---Back</a><br>#}
    {% if source_function == '/photos/google_photos' %}
        <h1>Photos from Google Photos</h1>
        <div class="d-flex justify-content-center">
            <a href="{{ url_for('oauth2.google_logout') }}"><h5>Logout From Google</h5></a><br>
        </div>
        <div id="photos-container">
            {% if base_url %}
                <form action="{{ url_for('photos.add_photo') }}" method="post">
                    <input type="hidden" name="source_function" value="{{ source_function }}">
                    {% for photo in base_url %}
                        <label style="display: inline-block;">
                            <img src="{{ photo['baseUrl'] }}" alt="" height="150px"><br>
                            <input type="checkbox" name="selected_photos" value="{{ photo['photoId'] }}|{{ photo['baseUrl'] }}"> Add photo
                        </label>
                    {% endfor %}
                    <input type="submit" width="100px" height="50px" class="btn btn-primary" style="position: fixed; bottom: 20px; right: 20px;" value="Add photos">
                </form>
                {% if next_page_token %}
                    <div class="pagination-buttons">
                        <form action="{{ url_for('photos.google_photos') }}" method="post">

                            <input type="hidden" name="next_page_token" value="{{ next_page_token }}">
                            <button type="submit" name="next_page" class="btn btn-primary" style="position: fixed; bottom: 20px; left: 20px;">Next Page</button>
                        </form>
                    </div>
                {% endif %}
            {% else %}
                <h3>No photos</h3>
            {% endif %}
        </div>
    {% elif source_function == '/photos/dropbox_photos' %}
        <h1>Photos from Dropbox</h1>
        <div class="d-flex justify-content-center">
            <a href="{{ url_for('oauth2.dropbox_logout') }}"><h5>Logout From Dropbox</h5></a><br>
        </div>
        {% if base_url %}
            <form action="{{ url_for('photos.add_photo') }}" method="post">
                <input type="hidden" name="source_function" value="{{ source_function }}">
                {% for photo in base_url %}

                    <label style="display: inline-block;">
                        <img src="{{ photo }}" alt="" height="150px"><br>
                        <input type="checkbox" name="selected_photos" value="{{ photo }}"> Add photo
                    </label>
                {% endfor %}
                <input type="submit" width="100px" height="50px" class="btn btn-primary" style="position: fixed; bottom: 20px; right: 20px;" value="Add photos">
            </form>
            <div class="pagination-buttons">
                <form action="{{ url_for('photos.dropbox_photos') }}" method="post">
{#                    <input type="hidden" name="next_page_token" va }}">#}
                    <button type="submit" name="next_page" class="btn btn-primary" style="position: fixed; bottom: 20px; left: 20px;">Next Page</button>
                </form>
            </div>
        {% else %}
            <h3>No photos</h3>
        {% endif %}
    {% elif source_function == '/photos/icloud_photos' %}
        <h1>Photos from Icloud</h1>
        {% if base_url %}
            <form action="{{ url_for('photos.add_photo') }}" method="post">
                <input type="hidden" name="source_function" value="{{ source_function }}">
                {% for photo in base_url %}
                    {% for photo_id, url in photo.items() %}
                        <label style="display: inline-block;">
                            <img src="{{ url }}" alt="" height="150px"><br>
                            <input type="checkbox" name="selected_photos" value="{{ photo_id }}|{{ url }}"> Add photo
                        </label>
                    {% endfor %}
                {% endfor %}
                <input type="submit" width="100px" height="50px" class="btn btn-primary" style="position: fixed; bottom: 20px; right: 20px;" value="Add photos">
            </form>
        {% else %}
            <h3>No photos</h3>
        {% endif %}
    {% endif %}
{% endblock %}