{% extends 'layout.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="input-group">
        <form method="POST" action="{{ url_for('people.one_face_people', face_code=face_code) }}">
            {% if add_face_name.csrf_token %}
                {{ add_face_name.csrf_token }}
            {% endif %}
            <div class="input-group input-group-sm mb-3">
              {{ add_face_name.face_name(value=name) }}
              <div class="input-group-prepend">
                {{ add_face_name.submit }}<br>
              </div>
            </div>
        </form>
    </div>

    <div class="content" data-toggle="modal" data-target="#modal-relationship" style="display: inline-block;">
        <button class="btn">Relationship</button>
    </div>
    <div class="modal fade" id="modal-relationship" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Select Person:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body overflow-auto text-center">
                        {% for face_data in list_face_code %}
                            {% for photo_id, data in face_data.items() %}
                                {% if data[1] != face_code%}
                                    <label style="display: inline-block; position: relative;">
                                        <a href="#" data-toggle="modal" data-target="#photoModal{{ data[1] }}">
                                            <img src="../../static/img/user_photos/faces/{{ data[0] }}/{{ data[1] }}.jpeg" height="150px" width="150px" alt=""><br>
                                            <span style="word-wrap: break-word; position: absolute; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.5); padding: 5px; font-size: 12px; width: 100%;; color: white; ;">{{ data[2] }}</span>
                                        </a>
                                    </label>
                                    <div class="modal fade" id="photoModal{{ data[1] }}" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="photoModalLabel">Selected Photo:</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                    <div class="modal-body text-center">
                                                        <form method="POST" action="{{ url_for('family_tree.family_tree_relationships') }}">
                                                            <label style="display: inline-block; position: relative;">
                                                                <img src="../../static/img/user_photos/faces/{{ data[0] }}/{{ data[1] }}.jpeg" class="" alt="" width="150px" height="150px">
                                                                <span style="word-wrap: break-word; position: absolute; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.5); padding: 5px; font-size: 12px; width: 100%;; color: white; ;">{{ data[2] }}</span>
                                                                <input type="hidden" value="{{ data[1] }}" name="relative_person">
                                                            </label>
                                                            {{ add_family_member_form.relationship(class='relationship') }}
                                                            <label style="display: inline-block; position: relative;">
                                                                <img src="../../static/img/user_photos/faces/{{ face_path }}/{{ face_code }}.jpeg" class="" alt="" width="150px" height="150px">
                                                                <span style="word-wrap: break-word; position: absolute; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.5); padding: 5px; font-size: 12px; width: 100%;; color: white; ;">{{ name }}</span>
                                                                <input type="hidden" value="{{ face_code }}" name="person">
                                                            </label>
                                                            <div class="additional-form"></div>
                                                            {{ add_family_member_form.submit() }}
                                                        </form>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
{#                    </form>#}
                    </div>
                </div>
            </div>
        </div>


{#            <select name="selected_id" style="margin-right: 10px;">#}
{#                {% for i in person %}#}
{#                    <option value="{{ i.id }}">{{ i.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#            {{ add_family_member_form.relationship() }}#}
{#            {{ add_family_member_form.submit() }}#}





    {% for face in faces %}
        <div>
            {% for photo_id, metadata in face.items() %}
                <div class="photo-content text-center">
                    <div class="content">
                        <img src="{{ metadata.baseUrl }}" height="250px" alt="">
                            <div class="photo_data bg-light">
                               {% if metadata.title|length > 10 %}
                                    <label>{{ metadata.title[:10] }}...</label><br>
                                {% else %}
                                    <label>{{ metadata.title }}</label><br>
                                {% endif %}
                                {% if metadata.description|length > 10 %}
                                    <label>{{ metadata.description[:10] }}...</label><br>
                                {% else %}
                                    <label>{{ metadata.description }}</label><br>
                                {% endif %}
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.relationship').change(function() {
        let relationship = $(this).val();

            let additionalForm = $(this).closest('.modal-body').find('.additional-form');

        if (relationship === 'Parent') {
            // Добавить поля для Parent или Child.
            additionalForm.html(`
                <label>Parent:
                    <select name="type1">
                        <option value="Father">Father</option>
                        <option value="Mother">Mother</option>
                    </select>
                </label>

                <label>Child:
                    <select name="type2">
                        <option value="Son">Son</option>
                        <option value="Daughter">Daughter</option>
                    </select>
                </label>`);
        }else if (relationship === 'Child') {
            additionalForm.html(`
                <label>Child:
                    <select name="type1">
                        <option value="Son">Son</option>
                        <option value="Daughter">Daughter</option>
                    </select>
                </label>
                <label>Parent:
                    <select name="type2">
                        <option value="Father">Father</option>
                        <option value="Mother">Mother</option>
                    </select>
                </label>`);
        }else if (relationship === 'Spouse') {
            additionalForm.html(`
                <label>Spouse1:
                    <select name="type1">
                        <option value="Husband">Husband</option>
                        <option value="Wife">Wife</option>
                    </select>
                </label>
                <label>Spouse2:
                    <select name="type2">
                        <option value="Husband">Husband</option>
                        <option value="Wife">Wife</option>
                    </select>
                </label>`);
        }
        else if (relationship === 'Sibling') {
            // Добавить поля для Sibling.
            additionalForm.html(`
                <label>Sibling:
                    <select name="type1">
                        <option value="Brother">Brother</option>
                        <option value="Sister">Sister</option>
                    </select>
                </label>
                 <label>Sibling:
                    <select name="type2">
                        <option value="Brother">Brother</option>
                        <option value="Sister">Sister</option>
                    </select>
                </label>
                <label>Degree:
                    <select id="sibling-degree" name="degree">
                        <option value="Full">Full</option>
                        <option value="Half">Half</option>
                    </select>
                </label>
                <div id="line-div">
                    <label>line:
                        <select name="line">
                            <option value="Maternal">Maternal</option>
                            <option value="Paternal">Paternal</option>
                        </select>
                    </label>
                </div>`);

            $('#sibling-degree').change(function() {
                if ($(this).val() === 'Half') {
                    $('#line-div').show(); // Показать Линию, если Сводный
                } else {
                    $('#line-div').hide(); // Скрыть Линию, если Родной
                }
            }).trigger('change'); // Вызов события изменения, чтобы установить начальное состояние Линии

        } else {
            additionalForm.html(''); // Очистка дополнительных полей, если они есть.
        }
    });
});
</script>

{% endblock %}