{% extends 'layout.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
    <div>
        {% for face_data in face_dir %}
            {% for photo_id, data in face_data.items() %}
                <a href="{{ url_for('photos.one_face_people', face_code=data[1]) }}">
                    <img src="../../static/img/user_photos/faces/{{ data[0] }}/{{ data[1] }}.jpeg" height="150px" width="150px" alt="" style="display: inline-block">
                </a>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}