.modal-content,
.update-form {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  overflow-y: auto; /* Добавляем вертикальный скроллер при необходимости */
  padding: 20px;
  box-sizing: border-box;
}

.modal-content table,
.update-form table {
  width: 100%;
}

.modal-content table td,
.update-form table td {
  vertical-align: top;
  padding: 10px;
}

.close-button,
.update-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.close-button:hover,
.update-close-button:hover {
  color: red;
}

.form-content {
  display: flex;
  align-items: center;
}

.form-image {
  flex: 0 0 auto;
  margin-right: 20px;
}

.form-image img {
  width: 200px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
}

.form-inputs {
  flex: 1 1 auto;
}

.form-inputs label {
  display: block;
  margin-bottom: 5px;
}

.form-inputs input,
.form-inputs textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form-inputs input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.update-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.form-inputs input[type="submit"]:hover {
  background-color: #45a049;
}

/* Дополнительные стили при уменьшении экрана */
@media screen and (max-width: 768px) {
  .modal-content,
  .update-form {
    width: 90%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .modal-content,
  .update-form {
    width: 100%;
    height: auto;
  }
}

.allow-editing-label {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user-checkbox {
    display: inline-block;
    vertical-align: middle;
}

.user-email {
  margin-right: 2px;
}

.allow-button {
    display: inline-block;
    vertical-align: middle;
}


