{% extends 'layout.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="d-flex justify-content-center">
    <form method="POST" action="{{ url_for('auth.login') }}">
        {% if form.csrf_token %}
            {{ form.csrf_token }}
        {% endif %}
        <label for="username">Email:</label>
        {{ form.email }}<br>
        <label for="password">Password:</label>
        {{ form.password }}<br>
        {{ form.submit }}
    </form><br>
</div>
{% endblock %}