{% extends 'layout.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="d-flex justify-content-center">
        <a href='{{ url_for('auth.logout') }}'><h5>Logout</h5></a><br>
    </div>
        <form method="POST" action="{{ url_for('auth.profile') }}">
            <h3 class="text-center">invite to Phorever</h3><br>
            <p class="text-center">Write the email of the person you want to add to Phorever</p><br>
            <div class="d-flex justify-content-center">
                <label for=""><input type="text" name="invite"></label>
                <label for=""><input type="submit" value="submit"></label>
            </div>
        </form>

{% endblock %}