{% extends 'layout.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href='{{ url_for('auth.logout') }}'>Logout</a><br>
    <form method="POST" action="{{ url_for('auth.profile') }}">
        <h3>invite to Phorever</h3><br>
        <p>Write the email of the person you want to add to Phorever</p><br>
        <label for=""><input type="text" name="invite" ></label>
        <label for=""><input type="submit" value="submit"></label>
    </form>


{% endblock %}