{% extends 'layout.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container d-flex align-items-center justify-content-center vh-100">
        <div class="col-md-6">
            <form method="POST" action="{{ url_for('auth.register') }}">
              <p>
                <label>Email:</label>
                {{ form.email() }}
              </p>
              <p>
                <label>Password:</label>
                {{ form.password() }}
              </p>
              <p>
                <label>Confirm Password:</label>
                {{ form.confirm_password() }}
              </p>
                {{ form.hidden_tag() }}
                    <input type="hidden" name="parent_token" value="{{ parent_token }}">
              <p>
                {{ form.submit() }}
              </p>
            </form>
        </div>
    </div>

{% endblock %}