{% extends 'layout.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('photos.user_photos') }}"><---back</a>
    <h1>Your Photo</h1><br>
    {% if photo_urls %}
    <form action="{{ url_for('photos.add_photo_description', photo_id=photo_id) }}" method="post">
      <table>
        <tr>
          <td>
            <img src="{{ photo_urls }}" alt="" width="300px" height="300px">
          </td>
          <td>
            <label for=""><input type="text" name="title">Add title</label>
            <br>
            <label for=""><textarea name="description" id="" cols="30" rows="10"></textarea>Add description</label>
            <br>
            <label for=""><input type="text" name="location" >Add location</label>
            <br>
            <label for=""><input type="date" name="creation_data">Add date</label>
            <br>
            <button type="submit">Phorever</button>
          </td>
        </tr>
      </table>
    </form>
    {% endif %}
{% endblock %}