{% extends 'layout.html' %}

{% block content %}
    <a href="{{ url_for('index') }}"><---Back</a><br>
    {% if source_function == '/photos/google_photos'%}
        <a href="{{ url_for('photos.google_logout') }}"> logout From Google</a><br>
    {% else %}
        <a href="{{ url_for('photos.dropbox_logout') }}"> logout From Dropbox</a><br>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if base_url %}
        <form action="{{url_for('photos.add_photo')}}" method="post">
          {% for photo in base_url %}
            <label style="display: inline-block;">
              <img src="{{ photo }}" alt="" width="100px" height="100px"><br>
              <input type="checkbox" name="selected_photos" value="{{ photo }}"> Add photo
            </label>
          {% endfor %}
        <input type="submit" width="100px" height="50px" class="btn btn-primary" style="position: fixed; bottom: 20px; right: 20px;" value="Add photos">
        </form>
    {% endif %}
{% endblock %}