{% extends 'layout.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('index') }}"><---Back</a><br>
    {% if source_function == '/photos/google_photos'%}
        <h1 class="google">Photos from google photos</h1>
        {% if base_url %}
            <form action="{{url_for('photos.add_photo')}}" method="post">
              <input type="hidden" name="source_function" value="{{ source_function }}">
              {% for photo in base_url %}
                <label style="display: inline-block;">
                  <img src="{{ photo['baseUrl'] }}" alt="" width="100px" height="100px"><br>
                  <input type="checkbox" name="selected_photos" value="{{ photo['photoId'] }}"> Add photo
                </label>
              {% endfor %}
            <input type="submit" width="100px" height="50px" class="btn btn-primary" style="position: fixed; bottom: 20px; right: 20px;" value="Add photos">
            </form>
        {% else %}
            <h3>No photos</h3>
        {% endif %}
    {% else %}
        <a href="{{ url_for('photos.dropbox_logout') }}"> logout From Dropbox</a><br>
        {% if base_url %}
            <form action="{{url_for('photos.add_photo')}}" method="post">
                <input type="hidden" name="source_function" value="{{ source_function }}">
              {% for photo in base_url %}
                <label style="display: inline-block;">
                  <img src="{{ photo }}" alt="" width="100px" height="100px"><br>
                  <input type="checkbox" name="selected_photos" value='{{ photo }}'> Add photo
                </label>
              {% endfor %}
            <input type="submit" width="100px" height="50px" class="btn btn-primary" style="position: fixed; bottom: 20px; right: 20px;" value="Add photos">
            </form>
        {% else %}
            <h3>No photos</h3>
        {% endif %}
    {% endif %}
{% endblock %}