{% extends 'layout.html' %}

{% block content %}
    <a href="{{ url_for('index') }}"><---Back</a><br>
    {% if source_function == '/photos/google_photos'%}
        <a href="{{ url_for('photos.google_logout') }}"> logout From Google</a><br>
    {% else %}
        <a href="{{ url_for('photos.dropbox_logout') }}"> logout From Dropbox</a><br>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if base_url %}
        {% for i in base_url %}
            <img src="{{ i }}" alt="" width="100px" height="100px">
        {% endfor %}
    {% endif %}
{% endblock %}