{% extends 'layout.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href='{{ url_for('google_photos') }}'>Your Google photos</a><br>
    <a href='{{ url_for('dropbox_photos') }}'>Your Dropbox photos</a><br>
    <a href='{{ url_for('clear_google_credentials') }}'>Logout from Google Photos</a><br>
    <a href='{{ url_for('clear_dropbox_credentials') }}'>Logout from Dropbox</a><br>
    <a href='{{ url_for('revoke') }}'>Reworked token</a>
{% endblock %}