{% extends 'layout.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href='{{ url_for('photos.google_photos') }}'>Your Google photos</a><br>
    <a href='{{ url_for('photos.dropbox_photos') }}'>Your Dropbox photos</a><br>
    <a href='{{ url_for('auth.register') }}'>Sing Up</a><br>
    <a href='{{ url_for('auth.login') }}'>Login</a><br>
    <a href='{{ url_for('auth.profile') }}'>Profile</a><br>
{% endblock %}