{% extends 'layout.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('index') }}"><---back</a>
    <h1>Your Photo</h1><br>
    {% if photos %}
        <h2>Select more photos from services:</h2><br>
        <a href="{{ url_for('photos.google_photos') }}"> Google Photo</a>
        <a href="{{ url_for('photos.dropbox_photos') }}"> Dropbox</a>
        <a href="{{ url_for('photos.photos_tree', parent_id=parent_id) }}">Tree</a><br>
        {% for data in photos%}
            {% for email, photo_data in data.items() %}
                <h3>Photo upload by : {{ email }}</h3><br>
                {% for id, urls in photo_data.items() %}
                    {% if urls %}
                        <a href="{{ url_for('photos.add_photo_description', photo_id=id) }}">
                        <img src="{{ urls }}" alt="Photo from {{ email }}" width="100px" height="100px">
                        </a>
                    {% else %}
                        <h3>No photos</h3>
                        <hr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <hr>
        {% endfor %}
    {% else %}
        <h2>Please select a photo from the offered services</h2><br>
        <a href="{{ url_for('photos.google_photos') }}"> Google Photo</a>
        <a href="{{ url_for('photos.dropbox_photos') }}"> Dropbox</a><br>
    {% endif %}
{% endblock %}