{% extends 'layout.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
    <div>
        {% for face_data in face_dir %}
            <a href="{{ url_for('people.one_face_people', face_code=face_data['face_code']) }}">
            <label style="display: inline-block; position: relative;">
                <img src="{{ face_data['face_path'] }}" height="200px" width="200px" alt=""><br>
                <span style="word-wrap: break-word; position: absolute; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.5); padding: 5px; font-size: 12px; width: 100%;; color: white; ;">{{ face_data['person_name'] }}</span>
            </label>
            </a>
        {% endfor %}
    </div>
{% endblock %}